<html>
	<head>
		<title><%= pageTitle %></title>
		<%- include('./styles.ejs') %>
		<link rel="stylesheet" type="text/css" href="/css/auth/auth.css">
	</head>
	<body>
		<div class='w-screen h-screen px-5 bsm:px-0 md:px-10 xl:px-0 flex justify-center items-center quicksand' style='background-color:#FBFBFB;'>
			<p class='font-bold fixed top-0 left-0 m-5 bsm:text-xl xl:text-base xl:mt-7 xl:ml-8'><a href='/'>Milestones</a></p>
			<div class='grid grid-cols-12 h-full w-full'>
				<div class='hidden bsm:flex xl:col-start-2 col-start-1 col-end-7 flex-col justify-center'>
					<img src="/images/auth/finish-line.svg" alt='finish-line'>
				</div>
				<div class='col-start-1 col-end-13 bsm:col-start-3 bsm:col-end-11 lg:col-start-8 md:col-end-13 xl:col-end-11 md:pl-8 xl:pl-0 col-end-11 flex flex-col justify-center'>
				<% if(notification) { %>
					<div class='alert alert-<%= notification.class %>'>
						<i class="fa fa-<%= notification.class === 'danger' ? 'exclamation-circle' : 'check-circle' %>"></i> <%= notification.message %>
					</div>
				<% } %>