				
				</div>
				<div class='pt-12 hidden lg:flex col-start-10 col-end-13 flex-col items-center'>
					<div class='w-4/5 baloo-bhaina text-gray-700'>
						<div class='flex flex-col px-4 py-6 mb-6 mr-4 rounded-lg' style='background:rgba(0,0,0,0.01)'>
							<p class='m-0 mb-2 ml-1'>Activity Completion</p>
							<div class='relative p-1 rounded-sm' style='background:rgba(0,0,0,0.03)'>
								<div class='transition-all ease-in duration-500 w-0 absolute top-0 h-full rounded-md activity__percent' style='background:#709255;'>
									
								</div>
							</div>
						</div>
						<div class='hidden'>
							<p class='completed__activity__count'><%= completedActivityCount %></p>
							<p class='uncompleted__activity__count'><%= uncompletedActivityCount %></p>
						</div>
						<div class='mb-3 quicksand h-16 py-2 pl-4 pr-4 box-content mr-5 flex flex-row items-center rounded-lg' style='background:rgba(0,0,0,0.01)'>	
							<img src="/images/auth-index/checklist.svg" width='60px' class='mr-5'>
							<div class='flex flex-col mr-auto'>
								<p class='m-0 mr-auto mt-1 text-sm'>activities</p>
								<p class='m-0 text-2xl quicksand'><%= activityCount %></p>
							</div>
						</div>
						<div class='mb-3 h-16 py-2 pl-4 pr-4 box-content mr-5 flex flex-row items-center rounded-lg' style='background:rgba(0,0,0,0.01)'>	
							<img src="/images/auth-index/chart.svg" width='45px' class='mr-8 ml-1'>
							<div class='flex flex-col mr-auto'>
								<p class='m-0 mr-auto mt-1 text-sm quicksand'>milestones</p>
								<p class='m-0 text-2xl quicksand'><%= milestonesCount %></p>
							</div>
						</div>
						<div class='mb-3 h-16 py-2 pl-4 pr-4 box-content mr-5 flex flex-row items-center rounded-lg' style='background:rgba(0,0,0,0.01)'>	
							<img src="/images/auth-index/diversity.svg" width='50px' class='mr-6 ml-1'>
							<div class='flex flex-col mr-auto'>
								<p class='m-0 mr-auto mt-1 text-sm quicksand'>actions</p>
								<p class='m-0 text-2xl quicksand'><%= actionCount %></p>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>

		<script type="text/javascript" src='/js/jquery.js'></script>
		<script type="text/javascript" src='/js/auth-index.js'></script>
		<% if(path == '/create/activity' || page == '/edit/activity') { %>
			<script type="text/javascript" src='/js/create-activity.js'></script>
			<script type="text/javascript" src='/js/validate-create-activity.js'></script>
		<% } %>
		<% if(path == '/activities') { %>
			<script type="text/javascript" src='/js/activity.js'></script>
		<% } %>
		<% if(path == '/metrics') { %>
			<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
			<script type="text/javascript" src="/js/metrics.js"></script>
		<% } %>
	</body>
</html>