<!DOCTYPE html>
<html>
	<head>
		<title><%= pageTitle %></title>
		<%- include('./styles.ejs') %>
		<link rel="stylesheet" type="text/css" href="/css/auth-index.css">
	</head>
	<body class="overflow-x-hidden">
		<div class='w-screen min-h-screen' style='background:#fbfbfb;'>
			<div class='grid grid-cols-12'>
				<div class='py-2 px-8 quicksand bg-white col-span-12 flex flex-row justify-between items-center border border-color-005'>
					<div class='flex flex-row items-center'>
						<img src="/images/auth-index/milestones-logo.png" width='50px' height="50px">
						<p class='m-0 font-semibold uppercase text-sm'>Milestones</p>
					</div>
					<div class='flex flex-row items-center'>
						<div class='flex flex-row items-center mr-3'>
							<img src="/<%= user.avatar %>" class='user__image w-8 h-8 object-cover mr-3 rounded-full'>
							<p class='m-0 mt-1 text-gray-600 text-sm mr-3'><%= user.name.slice(0,15) %>...</p>
							<i class='mt-1 fa fa-caret-down text-gray-600'></i>
						</div>
					</div>
				</div>
				<div class='col-start-1 col-end-4 flex flex-row pt-32 justify-center p-3 h-screen'>
					<ul class='bg-white text-gray-600 text-sm border border-color-005 quicksand w-4/5 py-3 rounded-lg' style='height:fit-content;'>
						<li class='<%= path === "/dashboard" ? "font-semibold text-palette-300" : "" %> py-4 px-8 mr-4 w-full'>
							<i class='fa fa-pager mr-3'></i> <a href='/'>Dashboard</a>
						</li>
						<li class='<%= path === "/create/activity" ? "font-semibold text-palette-300" : "" %> py-4 px-8 mr-4 w-full'>
							<i class='fa fa-plus-circle mr-3'></i> <a href='/create/activity'>Create Activity</a>
						</li>
						<li class='<%= path === "/activities" ? "font-semibold text-palette-300" : "" %> py-4 px-8 mr-4'>
							<i class='fa fa-calendar-week mr-3'></i> <a href='/activities'>Activities</a>
						</li>
						<li class='py-4 px-8 mr-4'>
							<i class='fa fa-wave-square mr-2'></i> Visualizations
						</li>
						<li class='py-4 px-8 mr-4'>
							<i class='fa fa-file mr-4'></i> File Downloads
						</li>
					</ul>
				</div>
				<div class='col-start-4 col-end-10 quicksand flex flex-col pt-8 relative'>

					

				
			