<%- include('includes/loggedin-top.ejs') %>
<%- include('includes/date.ejs') %>

	<div class='w-5/6 self-center z-10'>
		<div class='bg-white border border-color-005 flex flex-row items-center p-4 mb-3 relative'>
			<img src="/<%= activity.imageUrl %>" alt='<%= activity.name %>' class='object-cover w-16 h-16 rounded mr-5'>
			<div class='flex flex-col'>
				<p class='m-0 mb-2 font-semibold'><%= activity.name %></p>
				<p class='m-0 mb-1 text-sm text-gray-700'><%= activity.description %></p>
				<p class='m-0 text-gray-700 text-sm'><%= activity.milestones.length %> milestones</p>
				<p class='text-xs absolute bottom-0 right-0 mb-2 mr-2 text-gray-600'> <%= getDateString(activity.created_at) %> </p>
			</div>
		</div>
		<div class='flex flex-row items-end mb-4'>
			<a href="#" class='underline text-sm baloo-bhaina text-gray-800 mr-3 ml-1 add__milestone'>Add Milestone</a>
			<a href="/edit/activity/<%= activity._id %>" class='underline text-sm baloo-bhaina text-gray-800 mr-3'>Edit</a>
			<form action='/delete/activity/<%= activity._id %>?_csrf=<%= csrfToken %>' method='POST'>
				<button type='submit' class='bg-transparent underline text-sm baloo-bhaina text-gray-800 focus:outline-none'>Delete</button>
			</form>
		</div>

		<div>
			<% activity.milestones.reverse().forEach(milestone => { %>

				<div class='p-4 flex flex-row items-center bg-white border border-color-005 mb-2 relative group'>
					<img src="/<%= milestone.imageUrl %>" class='object-cover w-12 h-12 rounded mr-5'>
					<p class='m-0 text-gray-600 text-sm mr-2' style='width:75%'>
						<%= milestone.description %>
					</p>
					<div class='transition-all duration-300 ease-in absolute hidden flex-row top-0 right-0 mt-2 mr-2 group-hover:flex'>
						<button class='mr-1 w-6 h-6 rounded-md flex flex-row justify-center items-center'><i class='fas fa-edit text-xs text-gray-600'></i></button>
						<button class=' w-6 h-6 rounded-md flex flex-row justify-center items-center'><i class='fas fa-trash-restore-alt text-xs text-gray-600'></i></button>
					</div>
				</div>
				<p class='text-xs mb-2'> <%= getDateString(milestone.created_at) %> </p>
			<% }) %>
		</div>
	</div>

	<div class='transition-all ease-in duration-500 fixed top-0 left-0 h-screen w-screen z--9999 flex flex-row justify-center items-center opacity-0 add__milestone__container' style='background:rgba(0,0,0,0.85)'>

		<div class='bg-white relative rounded-md flex flex-col border border-color-005 pb-3' style='width:400px;top:-10vh;'>
			<div class='flex flex-row justify-between items-center p-4 pb-3 pr-6 border-color-005 border-b'>
				<p class='m-0 baloo-bhaina mt-1'>New Milestone - <%= activity.name %> </p>
			</div>
			<form  action='/create/milestone/<%= activity._id %>?_csrf=<%= csrfToken %>' method='POST' class='py-3 px-5' enctype='multipart/form-data'>
				<textarea rows='4' name='description' class='border-color-005 border w-full p-2 focus:outline-none text-sm text-gray-600'></textarea>
				<div class='flex flex-row justify-between items-end pr-1'>
					<div class='flex flex-row items-end'>
						<img src="" class='rounded-md w-0 h-16 object-cover milestone__image__preview'>
						<div>
							<a href="#" class='underline text-gray-600 baloo-bhaina milestone__image__trigger'>add image</a>
						</div>
						<input type="file" name="image" class='hidden milestone__image__picker'>
					</div>
					<div class='flex flex-row'>
						<div class='w-10 h-10 flex flex-row items-center justify-center bg-palette-300 rounded-full mr-3'>
							<button type='submit' class='cursor-pointer focus:outline-none'><i class='fa fa-check text-white focus:outline-none'></i></button>
						</div>
						<div class='w-10 h-10 flex flex-row items-center justify-center bg-palette-300 rounded-full'>
							<button type='button' class='cursor-pointer focus:outline-none close'><i class='fa fa-times text-white'></i></button>
						</div>
					</div>
				</div>
			</form>
		</div>
		
	</div>
<%- include('includes/loggedin-end.ejs') %>
