<%- include('includes/loggedin-top.ejs') %>
<%- include('includes/date.ejs') %>

	<% if(notification) { %>
		<div class='w-full lg:w-5/6 self-center alert alert-<%= notification.class %> mb-3 z-10'>
			<i class="fa fa-<%= notification.class === 'danger' ? 'exclamation-circle' : 'check-circle' %>"></i> <%= notification.message %>
		</div>
	<% } %>

	<div class='w-full lg:w-5/6 self-center z-10 pt-2 sm:pt-8'>
		<p class='csrf__token hidden'><%= csrfToken %></p>
		<div class='bg-white border border-color-005 flex flex-col sm:flex-row sm:items-center p-4 mb-3 relative'>
			<div class='flex flex-row items-center justify-between pr-5'>
				<p class='sm:hidden text-gray-700 text-lg font-semibold mr-5'><%= activity.name %></p>
				<img src="/<%= activity.imageUrl %>" alt='<%= activity.name %>' class='mt-2 sm:mt-0 object-cover w-16 h-16 rounded mr-0 mb-3 sm:mb-0'>
			</div>
			<div class='flex flex-col'>
				<p class='hidden sm:inline m-0 mb-1 sm:mb-2 font-semibold text-gray-800'><%= activity.name %></p>
				<p class='m-0 mb-1 text-sm text-gray-700 sm:text-gray-600'><%= activity.description %></p>
				<div class='flex flex-row'>
					<p class='text-sm sm:text-xs relative sm:absolute bottom-0 right-0 sm:mb-2 mr-3 sm:mr-2 text-gray-700 sm:text-gray-600'> <%= getDateString(activity.created_at) %> </p>
					<p class='m-0 text-gray-700 sm:text-gray-600 text-sm sm:mb-0'><%= activity.milestones.length %> milestones</p>
				</div>
			</div>
		</div>
		<div>
			<div class='flex flex-row items-end mb-4'>
				<% if(activity.milestones.length > 0) { %>
					<% if(!activity.is_completed) { %>
						<form action='/complete/activity/<%= activity._id %>?_csrf=<%= csrfToken %>' method='POST' class='mr-auto'>
							<button type='submit' class='bg-transparent underline text-sm baloo-bhaina text-gray-800 focus:outline-none'>Mark Complete</button>
						</form>	
					<% } else { %>
						<form action='/complete/activity/<%= activity._id %>?_csrf=<%= csrfToken %>&incomplete=true' method='POST' class='mr-auto'>
							<button type='submit' class='bg-transparent underline text-sm baloo-bhaina text-gray-800 focus:outline-none'>Completed</button>
						</form>	
					<% } %>
				<% } %>
				<% if(!activity.is_completed) { %>
					<a href="#" class='underline text-sm baloo-bhaina text-gray-800 mr-3 ml-1 add__milestone'>Add Milestone</a>
				<% } %>
				<a href="/edit/activity/<%= activity._id %>" class='underline text-sm baloo-bhaina text-gray-800 mr-3'>Edit</a>
				<form action='/delete/activity/<%= activity._id %>?_csrf=<%= csrfToken %>' method='POST' class='delete__activity'>
					<button type='submit' class='bg-transparent underline text-sm baloo-bhaina text-gray-800 focus:outline-none'>Delete</button>
				</form>
			</div>
		</div>

		<div>
			<% if(activity.milestones.length > 0) { %>
				<% activity.milestones.reverse().forEach(milestone => { %>

				<div class='pl-6 sm:px-4 py-4 flex flex-col sm:flex-row sm:items-center bg-white border border-color-005 mb-2 relative group'>
					<div class='flex flex-row-reverse pr-5 items-center justify-between'>
						<img src="/<%= milestone.imageUrl %>" class='mb-2 sm:mb-0 object-cover w-12 h-12 rounded mr-5 sm:mr-0 milestone__image'>
						<div class='flex flex-row pr-12 text-gray-700 sm:text-gray-600 sm:hidden'>
							<button class='focus:outline-none mr-3 underline text-sm edit relative' style='top:-2px;'>Edit</button>
							<form action='/delete/milestone/<%= milestone._id %>?_csrf=<%= csrfToken %>' method='POST' class='delete__milestone__form'>
								<button type='submit' class='underline text-sm relative focus:outline-none' style='top:-3px'>Delete</button>
							</form>
						</div>
						<p class='hidden milestone__description__sm'>
						<%= milestone.description %>
						</p>
						<p class='milestone__id hidden'><%= milestone._id %></p>
					</div>
					<p class='m-0 text-gray-700 sm:text-gray-600 text-sm mr-2 milestone__description sm:w-3/4'>
						<%= milestone.description %>
					</p>
					<% if(!activity.is_completed) { %>
						<div class='transition-all duration-300 ease-in absolute hidden sm:block lg:hidden flex-row top-0 right-0 h-full flex flex-row items-center mr-2 sm:group-hover:flex'>
							<i class='fas fa-edit edit text-xs text-gray-600 mr-3 cursor-pointer'></i>
							<form action='/delete/milestone/<%= milestone._id %>?_csrf=<%= csrfToken %>' method='POST' class='delete__milestone__form'>
								<button type='submit' class='focus:outline-none w-6 h-6 rounded-md flex flex-row justify-center items-center' style='background:rgba(0,0,0,0.03)'><i class='fas fa-trash text-xs text-gray-600'></i></button>
							</form>
						</div>
					<% } %>
				</div>
				<p class='text-xs mb-2 text-gray-600 text-right pr-2'> <%= getDateString(milestone.created_at) %> </p>
				<% }) %>
			<% } else { %>
				<!-- <div class='pt-16 flex flex-row justify-center'>
					<div class='flex flex-col items-start'>
						<img src="/images/activity/clock.svg" width='30px' class='mb-2'>
						<p class='m-0  text-sm comfortaa text-gray-700'>Tick tock goes the clock. Get achieving and start recording</p>
					</div>
				</div> -->
			<% } %>
		</div>
	</div>

	<div class='transition-all ease-in duration-500 fixed top-0 left-0 h-screen w-screen z--9999 flex flex-row justify-center items-center opacity-0 add__milestone__container' style='background:rgba(0,0,0,0.85)'>

		<div class='bg-white relative rounded-md flex flex-col border border-color-005 pb-3 activity__dialog'>
			<div class='flex flex-row justify-between items-center p-4 pb-3 pr-6 border-color-005 border-b'>
				<p class='m-0 baloo-bhaina mt-1'>New Milestone - <%= activity.name %> </p>
			</div>
			<form  action='/create/milestone/<%= activity._id %>?_csrf=<%= csrfToken %>' method='POST' class='py-3 px-5' enctype='multipart/form-data'>
				<div class='flex flex-row items-end mb-3'>
					<img src="" class='rounded-md w-0 h-8 object-cover milestone__preview'>
					<div>
						<a href="#" class='underline text-gray-700 baloo-bhaina milestone__trigger'>add image</a>
					</div>
					<input type="file" name="image" class='hidden milestone__file__input'>
				</div>
				<textarea rows='4' name='description' class='border-color-005 border w-full p-2 focus:outline-none text-sm text-gray-600'></textarea>
				<div class='flex flex-row baloo-bhaina text-gray-700 mt-2'>
					<div class='mr-3'>
						<button type='submit' class='underline cursor-pointer focus:outline-none'>create</button>
					</div>
					<div>
						<button type='button' class='underline cursor-pointer focus:outline-none close'>close</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class='transition-all ease-in duration-500 fixed top-0 left-0 h-screen w-screen z--9999 flex flex-row justify-center items-center opacity-0 edit__milestone__container' style='background:rgba(0,0,0,0.85)'>

		<div class='bg-white relative rounded-md flex flex-col border border-color-005 pb-3 activity__dialog'>
			<div class='flex flex-row justify-between items-center p-4 pb-3 pr-6 border-color-005 border-b'>
				<p class='m-0 baloo-bhaina mt-1'>Edit Milestone</p>
			</div>
			<form  action='/edit/milestone/<%= activity._id %>?_csrf=<%= csrfToken %>' method='POST' class='py-3 px-5' enctype='multipart/form-data'>
				<div class='flex flex-row items-end mb-3'>
					<img src="" class='rounded-md w-12 h-12 mr-3 object-cover milestone__preview'>
					<div>
						<a href="#" class='underline text-gray-700 baloo-bhaina milestone__trigger'>change image</a>
					</div>
					<input type="file" name="image" class='hidden milestone__file__input'>
				</div>
				<textarea rows='4' name='description' class='border-color-005 border w-full p-2 focus:outline-none text-sm text-gray-600'></textarea>
				<div class='flex flex-row baloo-bhaina text-gray-700 mt-2'>
					<div class='mr-3'>
						<button type='submit' class='underline cursor-pointer focus:outline-none'>update</button>
					</div>
					<div>
						<button type='button' class='underline cursor-pointer focus:outline-none close'>close</button>
					</div>
				</div>
			</form>
		</div>
	</div>
<%- include('includes/loggedin-end.ejs') %>
