<%- include('includes/loggedin-top') %>
<%- include('includes/date.ejs') %>
	
	<div class='lg:w-5/6 col-gap-5 self-center text-gray-00 text-sm pt-4 sm:pt-8 z-20'>	

		<% if(activities.length > 0) { %>
			<div class='grid grid-cols-12 col-gap-8'>
				<% activities.forEach(activity => { %>
					<div class='hover:ml-1 transition-all duration-300 ease-in col-span-12 px-5 sm:px-0 sm:col-span-6 flex flex-col mb-8 cursor-pointer relative'>
						<div class='relative'>
							<img src="<%= activity.imageUrl %>" class='h-32 object-cover w-full'>
							<div class='absolute top-0 w-full h-full' style='background:rgba(0,0,0,0.14)'></div>
						</div>
						<div class='border border-color-005 p-4 bg-white' style='font-size:1.04em'>
							<p class='font-semibold mb-1'><%= activity.name %></p>
							<p class='mb-1 text-md text-gray-700'><%= activity.description.slice(0,50) %>...</p>
							<p class='mb-1 text-sm text-gray-700'><%= getDateString(activity.created_at) %>. <%= activity.milestones.length %> milestones</p>
							<a href="/activity/<%= activity._id %>" class='underline text-sm text-gray-700'>view</a>

							<% if(activity.is_completed) { %>
								<div class='absolute bottom-0 right-0 mb-4 mr-8 sm:mr-4'>
									<i class='fa fa-check-circle text-lg' style='color:#709255'></i>
								</div>
							<% } %>
						</div>
					</div>
				<% }) %>
			</div>		
		<% } else { %>

			<div class='w-full flex flex-row justify-center items-center' style='height:calc(100vh - 120px)'>
				<div class='px-4 sm:px-0 flex flex-col relative empty__activities__message'>
					<i class='em em-anguished text-4xl mb-3'></i>
					<p class='m-0  text-lg baloo-bhaina text-gray-700'>You do not have any activity. Create one <a href='/create/activity' class='underline'>here</a> </p>
				</div>
			</div>
		<% } %>
	</div>

<%- include('includes/loggedin-end') %>
