
<%- include('includes/loggedin-top.ejs') %>

    <div class='w-full lg:w-5/6 self-center flex flex-col pt-6 sm:pt-24 lg:pt-0 z-20'>
        <div class='hidden'>
            <% chartDataKeys.forEach(key => { %>
                <p class='chart__key'><%= key %>-<%= chartData[key] %></p>
            <% }) %>
        </div>
        <div class='p-4 bg-white flex flex-row border border-color-005 mb-2 rounded-md'>
            <a href='/metrics?type=1week' class='<%= displayType == "last week" ? "underline" : "" %> mr-3 text-gray-700'>last week</a>
            <a href='/metrics?type=2week' class='<%= displayType == "last 2 weeks" ? "underline" : "" %> mr-3 text-gray-700'>last two weeks</a>
            <a href='/metrics?type=1month' class='<%= displayType == "last month" ? "underline" : "" %> text-gray-700'>last month</a>
        </div> 
        <div class='flex flex-col p-6 mb-2 bg-white border border-color-005 rounded-md'>
            <div class='flex flex-col'>
                <p class='m-0 mb-2 text-gray-700 self-center'>Milestones in the <%= displayType %></p>
                <canvas id="chart" class='mb-8'></canvas>
                <div class='text-sm text-gray-700'>
                    <p class='m-0 mb-3'><%= activitiesCreatedCount %> activities created in the <%= displayType %></p>
                    <p class='m-0 mb-3'><%= achievedMilestonesCount %> milestones achieved in the <%= displayType %></p>
                    <p class='m-0'><%= actionsCreatedCount %> actions in the <%= displayType %></p>
                </div>
            </div>
        </div>
    </div>

<%- include('includes/loggedin-end.ejs') %>