
<%- include('includes/loggedin-top.ejs') %>
<%- include('includes/date.ejs') %>

	<div class='lg:px-6 sm:pt-8 md:pt-16 lg:pt-0 z-20'>
        <p class='mb-5 text-gray-700 capitalize text-lg'>Milestones</p>
        
        <% milestones.forEach(milestone => { %>
            <div class='p-4 flex flex-row items-center bg-white border border-color-005 mb-2 relative group'>
                <img src="/<%= milestone.imageUrl %>" class='object-cover w-8 h-8 rounded mr-4 milestone__image'>
                <p class='m-0 text-gray-700 sm:text-gray-600 text-sm mr-2 milestone__description'>
                    <%= milestone.description.toLowerCase() %>
                </p>
            </div>
            <p class='text-xs mb-2 text-gray-600 text-right pr-2'> <%= getDateString(milestone.created_at) %> </p>
        <% }) %>
        <div class='flex flex-row comfortaa mb-6 mt-5'>
            <%  for(let i = 1; i <= pages; i++) { %>
                <div class='mb-4 <%= i == activePage ? "bg-palette-200 text-white text-sm" : "bg-white md:bg-transparent text-black text-sm md:text-base" %> rounded-full h-10 w-10 flex flex-row items-center justify-center mr-3'>
                    <a href='/milestones?page=<%= i %>'><%= i %></a>
                </div>
            <% } %>
        </div>
    </div>

<%- include('includes/loggedin-end.ejs') %>
